.cart-card {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    gap: 8px;
    padding: 8px;
    background-color: #fff;
}

.cart-card img {
    max-width: 290px;
    max-height: 290px;
    object-fit: contain;
    background: #e8e8e86b;
}

.cart-product-information {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cart-product-information h3 {
    font-size: 18px;
    margin: 0;
    color: #333;
}

.cart-product-information p {
    text-align: start;
}

.cart-product-price,
.cart-product-quantity {
    font-size: 13px;
    color: #2b2b2b;
}

.remove-from-cart-card {
    align-self: flex-end;
}

.remove-from-cart-card button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    align-self: flex-end;
}


